[submodule "themes/hello-friend"]
	path = themes/hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend.git
[submodule "themes/binario"]
	path = themes/binario
	url = https://github.com/vimux/binario
